* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: darkkhaki;
    font-family: 'Arial', sans-serif;
}

article {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
}

article:hover p,
article:hover h2 {
    color: red;
    font-size: 24px;
}

p, h2 {
    font-size: 20px;
    color: #333;
    transition: 1s
}

h2 {
    font-weight: normal;
    text-decoration: underline;
}

p {
    margin-top: 3rem;
    font-size: 20px;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 34px;
    transform: translate(-50%, -50%);
    color: #222;
}