* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: darkkhaki;
    font-family: 'Arial', sans-serif;
    text-align: center;

}

article {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
}

article:hover p,
article:hover h2 {
    color: red;
    font-size: 24px;
}

p,
h2 {
    font-size: 20px;
    color: #333;
    transition: 1s
}

h2 {
    font-weight: normal;
    text-decoration: underline;
}

p {
    margin-top: 3rem;
    font-size: 20px;
}

h1 {
    position: absolute;
    line-height: 100px;
    width: 30%;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 34px;
    color: #222;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
}

h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: -1;
    transition: 0.2s
}

h1:hover::after {
    top: 50%;
    background-color: #fff;
}